src/build.h
MASTER.LOG
/README.TXT
/tocsplit.exe
/tocsplit.ini
/howtovcd.doc
settings.json
/cdilink.exe
*.mov
*.m1v
*.avi
*.mp2
*.mpg
*.mov.idxb
*.r
*.rtf
*.DAT
*.MPG
*.CHD
*.MMD
*.CDI
*.BIN
*.CUE
*.cue
*.TOC
/fmv_colortest/0.png
/fmv_colortest/1.png
/fmv_colortest/2.png
/fmv_colortest/3.png
/fmv_colortest/out/*.png
*.zip
